<div class="container">
  <div class="row boards-container">
    <div class="col col-divider px-5">

      <%= render(Players::PlayerNameComponent.new(classname: "btn-blue").with_content("Your Fleet")) %>

      <%= render(Boardgrids::BoardgridComponent.new(classname: "board-grid-current-user", letters: @letters, numbers: @numbers, game_state: @game_state, ships_state: @ships_state)) %>

      <div class="shipyard d-flex">
        <h3 class="mr-4 my-0">SHIPYARD</h3>
        <div class="shipyard-layout">
          <div class="d-flex pl-4">
            <%= render(Ships::BattleshipComponent.new(state: @state, ship_position: @ship_position)) %>
            <%= render(Ships::SubmarineComponent.new(state: @state, ship_position: @ship_position)) %>
            <%= render(Ships::CruiserComponent.new(state: @state, ship_position: @ship_position)) %>
          </div>

          <div class="d-flex">
            <%= render(Ships::AircraftCarrierComponent.new(state: @state, ship_position: @ship_position)) %>
            <%= render(Ships::DestroyerComponent.new(state: @state, ship_position: @ship_position)) %>
          </div>
        </div>
      </div>

    </div>
    <div class="col px-5">
      <%= render(Players::PlayerNameComponent.new(classname: "btn-grey").with_content("Opponent")) %>

      <%= render(Boardgrids::BoardgridComponent.new(classname: "board-grid-opponent", letters: @letters, numbers: @numbers, game_state: @game_state, ships_state: @ships_state)) %>
      
      <div class="shipyard d-flex">
        <h3 class="m-0">GRAVEYARD</h3>
        <div class="shipyard-layout">
          <div class="d-flex">
            <p>Cruiser (2 blocks)</p>
            <p>Battleship (4 blocks)</p>
          </div>
          <div class="d-flex">
            <p>Submarine (3 blocks)</p>
            <p>Aircraft Carrier (5 blocks)</p>
          </div>
          <div class="d-flex">
            <p>Destroyer (3 blocks)</p>
          </div>
        </div>
      </div>
      
    </div>
    <div class="text-center w-100 mt-5">
      <%= link_to "See demo boardgrid", demo_path %>
    </div>
  </div>
</div>