<div class="container">
  <div class="row boards-container">
    <div class="col col-divider px-5">

      <%= render(PlayerNameComponent.new(classname: "btn-blue").with_content("Your Fleet")) %>

      <%= render(BoardgridComponent.new(classname: "board-grid-current-user", letters: @letters, numbers: @numbers)) %>

      <div class="shipyard d-flex">
        <h3 class="m-0">SHIPYARD</h3>
        <div class="shipyard-layout">
          <div class="d-flex">
            <div class="ship battleship">
              <div class='ship-layout ship-back' style="background-image:url('<%= image_path "ships/back.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout ship-middle' style="background-image:url('<%= image_path "ships/middle.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout ship-middle' style="background-image:url('<%= image_path "ships/middle.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout' style="background-image:url('<%= image_path "ships/front.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
            </div>

            <div class="ship submarine">
              <div class='ship-layout ship-back' style="background-image:url('<%= image_path "ships/back.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout ship-middle' style="background-image:url('<%= image_path "ships/middle.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout' style="background-image:url('<%= image_path "ships/front-submarine.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
            </div>

            <div class="ship cruiser">
              <div class='ship-layout ship-back' style="background-image:url('<%= image_path "ships/back.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout' style="background-image:url('<%= image_path "ships/front.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex">
            <div class="ship aircraft-carrier">
              <div class='ship-layout' style="background-image:url('<%= image_path "ships/back-aircraft.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout ship-middle' style="background-image:url('<%= image_path "ships/middle.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout ship-middle' style="background-image:url('<%= image_path "ships/middle.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout ship-middle' style="background-image:url('<%= image_path "ships/middle.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout' style="background-image:url('<%= image_path "ships/front-aircraft.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
            </div>

            <div class="ship destroyer">
              <div class='ship-layout ship-back' style="background-image:url('<%= image_path "ships/back.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout ship-middle' style="background-image:url('<%= image_path "ships/middle.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
              <div class='ship-layout' style="background-image:url('<%= image_path "ships/front.png" %>')">
                <div class="ship-circle">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col px-5">
      <%= render(PlayerNameComponent.new(classname: "btn-grey").with_content("Opponent")) %>

      <%= render(BoardgridComponent.new(classname: "board-grid-opponent", letters: @letters, numbers: @numbers)) %>
      
      <div class="shipyard d-flex">
        <h3 class="m-0">GRAVEYARD</h3>
        <div class="shipyard-layout">
          <div class="d-flex">
            <p>Cruiser (2 blocks)</p>
            <p>Battleship (4 blocks)</p>
          </div>
          <div class="d-flex">
            <p>Submarine (3 blocks)</p>
            <p>Aircraft Carrier (5 blocks)</p>
          </div>
          <div class="d-flex">
            <p>Destroyer (3 blocks)</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>