<div class="ship cruiser <%= @ship_position %>">
  <div class='ship-layout ship-back' style="background-image:url('<%= image_path "ships/back-#{@state}.png" %>')">
    <div class="ship-circle ship-circle-<%= @state %>">
    </div>
  </div>
  <div class='ship-layout' style="background-image:url('<%= image_path "ships/front-#{@state}.png" %>')">
    <div class="ship-circle ship-circle-<%= @state %>">
    </div>
  </div>
</div>