<div class="ship <%= @ship_position %> submarine">
  <div class='ship-layout ship-back' style="background-image:url('<%= image_path "ships/back-#{@state}.png" %>')">
    <div class="ship-circle ship-circle-<%= @state %>">
    </div>
  </div>
  <div class='ship-layout ship-middle' style="background-image:url('<%= image_path "ships/middle-#{@state}.png" %>')">
    <div class="ship-circle ship-circle-<%= @state %>">
    </div>
  </div>
  <div class='ship-layout' style="background-image:url('<%= image_path "ships/front-submarine-#{@state}.png" %>')">
    <div class="ship-circle ship-circle-<%= @state %>">
    </div>
  </div>
</div>